.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url(../assets/WhatsApp\ Image\ 2022-10-05\ at\ 10.59.51\ \(1\).jpeg);
    background-size: cover;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    opacity : 1;
}

#container {
    border: 2px solid black;
    padding: 5%;
    border-radius: 10%;
    background-color: white;
    opacity : 0.7;
}

#text{
    font-weight: bold;
    color: black;
    opacity: 10;
}

#nom {
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}

#prenom {
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}

#phone {
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}

#mail {
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}

#comm {
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}
