body {
    margin: 0px;
}


.container  {
    border: 0px;
    font-size: 14px;
    color: #000000;
    background: rgb(217,217,217);
    background: linear-gradient(0deg, rgba(217,217,217,1) 8%, rgba(255,255,255,1) 70%);
    width: 100%;
}
.foot {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.foot > *{
    flex:2
}

.logofoot {
    max-width: 150px;
    max-height: 150px;
}
    
.contact {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 4%;
}

.center {
    display: table;
    width: 100%;
    height: 100vh;
  }

.res {
    max-width:60px;
    
}
.social {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}