.heade {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerbouton {  
    display: flex;
    flex-direction: row;
}

.logo {
    text-align: center;
    width: 750px;
    height: 225px;
}

.container_social_networks {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
}

.container_logo {
    width: 50px;
    height: 50px;
}

button {    
    width: 90px;
    height: 25px
    
}

header > div:nth-child(even) {    
    align-self:center;
}

