

.heade {
    padding-left: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 43%, rgba(217,217,217,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerbouton {
    display: flex;
    flex-direction: row;
}

.logo {
    text-align: center;
    width: 500px;
    height: 150px;
}

.container_social_networks {
    display: flex;
}

img {
    width: 100%;
    height: 100%;
}

.container_logo {
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

button {    
    width: 100px;
    height: 25px
    
}

header > div:nth-child(even) {    
    align-self:center;
}

