
*{
    font-family: 'Merienda One', cursive;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.titre{
    padding: 1%;
    background-color: #D9D9D9;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-between;
}

.acceuil{width: 100%;
    height: 100%;
}

.merlin{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.containte_texte{
    width: 70%;
}

.merlin_containte{
    width: 25%;
}

.grand_titre{
    font-size: xx-large;
}

.histoire{
    font-size: x-large;
}


.containe_machine{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

.machine{
    width: 25%;
}

.titres{
    padding: 1%;
    background-color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-between;
}
