.gg {
    width: 15%;
    margin-right: 100px;
    border-radius: 30%;
    margin-bottom: 0px;
}

.aaa{
    width: 15%;
    height: 100%;
    margin-right: 100px;
    border-radius: 30%;
    margin-bottom: 0px;
    

}

.a {
    

}